extends layout

block content
	h1(class="headline") #{title}

	form(name= "create_aws_cluster", method= "post" class="horizontal")
		div.input
			span.label= "Cluster Name: "
			input(type= "text", name= "cluster_name" value=name class="focus")

		div.input
			span.label= "Node Count: "
			input(type= "number", min=0, name= "node_count" value=count class="focus")

		div.input
			span.label= "Instance Type: "
			input(type= "text", name= "Instance_type" value=type class="focus")

		div.input
			span.label= "Region Name: "
			input(type= "text", default="us-west-2" name= "region_name" value=region class="focus")

		div.input
			span.label= "Key Name: "
			input(type= "text", name="key_name" value=key_name class="focus")

		div.input
			span.label= "AWS Security Group: "
			input(type="text", name="security_group" value=security_group class="focus")

		div.actions
			input(type= "submit", value= "Create" class="focus")

		<br/>
		h2(class="templates") Templates
		div.templates
			input(type= "submit", value= "small" class="template_buttons" formaction="/aws/create/small")
		
			input(type= "submit", value= "medium" class="template_buttons" formaction="/aws/create/medium")
		
			input(type= "submit", value= "large" class="template_buttons" formaction="/aws/create/large")

